<form [formGroup]="createBoardForm" novalidate (ngSubmit)="submit()">
    <div class="form-group">
        <h3>{{'formModal.formTitle' | translate}}</h3>
        <label for title>{{'formModal.title' | translate}}</label>
        <input class="form-control" name="title" formControlName="title" />
        <label for description>{{'formModal.description' | translate}}</label>
        <input class="form-control" name="description" formControlName="description" />
        <button type="submit" >{{'formModal.button' | translate}}</button>
    </div>
</form>  
