@import '../../../../colors.scss';

.board-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-left: auto;
    width: 300px;
    height: fit-content;
    padding: 10px;
    background-color: $boardBackgroundColor;
    box-shadow: $boxShadow;
    border-radius: 5px;
}
.inner-container{
    cursor: pointer;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    padding-bottom: 10px;
}
.container-preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px
}
.column-item{
    width: 260px;
    height: fit-content;
    border: 1px solid $whiteBorderColor;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}
button{
    margin-top: 10px;
}

.toggle{
    cursor: pointer;
    color: $moreColor;
}