@import '../../../../colors.scss';

.board-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-left: auto;
    width: 300px;
    height: fit-content;
    padding: 10px;
    background-color: $boardBackgroundColor;
    box-shadow: inset 0 0 30px rgba($color: #000000, $alpha: .4);
    border-radius: 5px;
}
.inner-container{
    cursor: pointer;
    overflow-wrap: break-word;
}