<div class="board-container">
  <div class="inner-container" [routerLink]="['../board', board?.id]">
    <h1 class="title">
      {{ board?.title }}
    </h1>
    <h2>{{ board?.description }}...</h2>
  </div>
  <div class="toggle" (click)="toggle()" *ngIf="(columns$ | async)?.length > 0">
    <mat-icon *ngIf="isPreview === false">unfold_more</mat-icon>
    <mat-icon *ngIf="isPreview">unfold_less</mat-icon>
  </div>
  <div
    class="container-preview"
    *ngIf="(columns$ | async)?.length > 0 && isPreview">
    <div class="column-item" *ngFor="let column of columns$ | async">
      <h3>
        {{ column.title }}
      </h3>
    </div>
  </div>
  <button mat-raised-button color="warn" (click)="deleteBoard(board?.id!)">
    {{ 'DELETE' | translate }}
  </button>
</div>
