.card {
  max-width: 400px;
}

.developer-card {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid rgba($color: #fff, $alpha: 0.1);
  box-sizing: content-box;
}

.dev-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300;
  height: 300;
}

.blob-position {
  position: absolute;
}
