<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      >{{ developer.firstName }} {{ developer.secondName }}</mat-card-title
    >
    <mat-card-subtitle>{{ developer.git }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="developer.photoURL" [alt]="developer.alt" />
  <mat-card-content>
    <p>{{ developer.aboutAuthor }}</p>
    <ul *ngFor="let feature of developer.features">
      <li>{{ feature }}</li>
    </ul>
  </mat-card-content>
</mat-card>
