.developer-card {
  position: relative;
  width: 100%;
}

.card {
  min-width: 300px;
  box-sizing: border-box;
}

.developer-picture {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid rgba($color: #fff, $alpha: 0.1);
  box-sizing: content-box;
}

.dev-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.blob-position {
  position: absolute;
}

// .show-text {
//   display: flex;
//   width: 600px;
//   flex-direction: column;
//   align-items: center;
// }
