<section class="basket-container">
  <h1 class="title">
    {{ 'Basket' | translate }} ({{ (basket$$ | async)?.length || '0' }})
  </h1>
  <section
    class="inner-container"
    *ngIf="(basket$$ | async)?.length !== 0"
    else
    noBoards>
    <app-basket-board
      *ngFor="let board of basket$$ | async"
      [board]="board"></app-basket-board>
  </section>
  <button
    mat-raised-button
    color="warn"
    class="delete-all"
    (click)="deleteAll()">
    <mat-icon>delete_forever</mat-icon>
    {{ 'Delete all' | translate }}
  </button>
  <button mat-raised-button color="primary" class="back" [routerLink]="['../']">
    <mat-icon>arrow_back</mat-icon>
    {{ 'Back to boards' | translate }}
  </button>
</section>
<ng-template class="template" #noBoards>
  <h2 *ngIf="(isLoading$ | async) === false">{{ 'No Boards' | translate }}</h2>
  <h3 *ngIf="isLoading$ | async">{{ 'LOADING' | translate }}</h3>
  <mat-spinner
    diameter="30"
    color="primary"
    *ngIf="isLoading$ | async"></mat-spinner>
</ng-template>
