<section class="welcome-wrapper">
  <section class="greeting-wrapper">
    <section class="greeting-container">
      <h1 class="greeting-title">
        {{ 'WELCOME.greetingTitle' | translate }}
      </h1>
      <p class="greeting-text">
        {{ 'WELCOME.greetingText' | translate }}
      </p>
      <section class="welcome-actions">
        <button
          mat-raised-button
          color="primary"
          (click)="navigate('welcome/login')">
          <mat-icon class="button-icon">login</mat-icon>
          <span>{{ 'auth.Login' | translate }}</span>
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="navigate('welcome/registration')">
          <mat-icon class="button-icon">person_add</mat-icon>
          <span>{{ 'auth.Registration' | translate }}</span>
        </button>
      </section>
    </section>
  </section>
  <section class="cards-wrapper">
    <section class="cards-container">
      <app-developer
        *ngFor="let developer of developers; index as i"
        [developer]="developer"
        [index]="i"
        class="card"></app-developer>
    </section>
  </section>
</section>
