@import '../../../colors.scss';

.modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $modalBackgroundColor;
}
.modal-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50vw;
  height: 50vh;
  background-color: $modalWindowColor;
  border-radius: 10px;
}
.invisible{
  opacity:0;
  visibility: hidden;
  transition: .5s;
}
.visible{
  opacity:1;
  visibility: visible;
  transition: .5s;
}

 .invisible .modal-window{
  transform: scale(.1);
  transition: .5s;
}
 .visible .modal-window{
  transform: scale(1);
  transition: .5s;
}