<div
  class="modal-container"
  [class.invisible]="!isModalVisible"
  [class.visible]="isModalVisible">
  <div class="modal-background"></div>
  <div class="modal-window">
    <div class="confirmation-info-block">
      <p class="confirmation-info">{{ (info$ | async)! | translate }}</p>
    </div>
    <div class="confirmation-buttons-block">
      <button
        class="button-agree"
        (click)="setResult(true); isModalVisible = false">
        {{ buttonAgree | translate }}
      </button>
      <button
        class="buttton-cancel"
        (click)="setResult(false); isModalVisible = false">
        {{ buttonCancel | translate }}
      </button>
    </div>
  </div>
</div>
