@import '../../../colors.scss';

.container {
  position: fixed;
  right: 5%;
  top: 8%;
  width: 300px;
  min-height: 100px;
  height: fit-content;
  word-wrap: break-word;
  padding: 10px;
  background-color: $toastBackgroundColor;
  box-shadow: $toastBoxShadow;

}
.toast-notification {
  color: $toastTextColor;
  margin-top: 10px;
}
.close {
  color: $toastTextColor;
  margin-left: 270px;
  cursor: pointer;
}
.invisible {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}
.visible {
  animation: flashing 7s;
  opacity: 1;
  visibility: visible;
}

@keyframes flashing {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 1;
    visibility: visible;
  }
  40% {
    opacity: 0;
    visibility: hidden;
  }
  60% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
