.footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 50px;
}

.logo {
  width: 50px;
  height: 18px;
  background-image: url(^assets/img/rs_school.svg);

  &:hover {
    transform: scale(.95);
  }

  &:active {
    transform: scale(.90);
  }
}

.authors-links {
  display: flex;
  gap: 5px;
  margin: 30px;
}

.author-link {
  width: 30px;
  height: 30px;

  &:hover {
    transform: scale(.95);
  }

  &:active {
    transform: scale(.90);
  }
}
