<div class="buttons">
  <mat-button-toggle-group [formControl]="language">
    <mat-button-toggle value="ru" color="primary">RU</mat-button-toggle>
    <mat-button-toggle value="en">EN</mat-button-toggle>
  </mat-button-toggle-group>
  <button
    (click)="logOut()"
    [disabled]="(loginStatus$ | async) === false"
    mat-raised-button
    color="warn">
    Logout
  </button>

  <div class="buttons">
    <a routerLink="/login" routerLinkActive="active"
      ><button mat-stroked-button color="primary">
        {{ 'auth.Login' | translate }}
      </button></a
    >
    <a a routerLink="/registration" routerLinkActive="active"
      ><button mat-stroked-button color="primary">
        {{ 'auth.Registration' | translate }}
      </button></a
    >
  </div>
</div>
