<section class="board-main">
  <section class="board-container">
    <mat-card-title>
      {{ board?.title }}
    </mat-card-title>
    <mat-card-subtitle>{{ board?.description }} </mat-card-subtitle>
    <ng-container *ngIf="showColumns">
      <div class="container-preview">
        <ng-container *ngFor="let column of board?.columns">
          <section class="column-item">
            <div class="column-title">{{ column.title }}</div>
            <div class="tasks-container">
              <ng-container *ngFor="let task of column.tasks">
                <div class="task">
                  {{ task.title }}
                </div>
              </ng-container>
            </div>
          </section>
        </ng-container>
      </div>
    </ng-container>
  </section>
</section>
