<header class="header">
  <h1 class="title">{{ 'BOARDS' | translate }}</h1>
</header>
<aside class="search-container">
  <section>
    <mat-icon class="icon">search</mat-icon>
    <input
      matInput
      class="search-input"
      placeholder="{{ 'search board' | translate }}"
      [(ngModel)]="searchRequest"
      [autofocus]="true" />
    <mat-icon
      class="expand-icon"
      *ngIf="isAllShort === false"
      (click)="isAllShort = true"
      >unfold_less</mat-icon
    >
    <mat-icon
      class="expand-icon"
      *ngIf="isAllShort"
      (click)="isAllShort = false"
      >unfold_more</mat-icon
    >
  </section>
</aside>
<main class="boards-container">
  <div
    class="inner-container"
    *ngIf="
      ((boards$ | async)! | search: searchRequest).length > 0;
      else noBoards
    ">
    <app-board
      *ngFor="let item of (boards$ | async)! | search: searchRequest"
      [board]="item"
      [searchRequest]="searchRequest"
      [isAllShort]="isAllShort">
    </app-board>
  </div>
</main>
<ng-template class="template" #noBoards>
  <h2>{{ 'No Boards' | translate }}</h2>
  <h3 *ngIf="isLoading$ | async">{{ 'LOADING' | translate }}</h3>
  <mat-spinner
    diameter="30"
    color="primary"
    *ngIf="isLoading$ | async"></mat-spinner>
</ng-template>
