.boards-container {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  min-height: 300px;
  min-width: 300px;
  overflow-x: auto;
  gap: 20px;
}
.spiner {
  margin-left :60px ;
}
