.boards-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  min-height: 300px;
  min-width: 300px;
  overflow-x: auto;
  gap: 20px;
}
.spiner {
  margin-left :135px ;
}
