.confirmation-buttons-block{
    display: flex;
    gap:20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    justify-content: center;
}
.confirmation-info-block{
    padding: 20px;
}