$toastBackgroundColor: rgb(250, 25, 4);
$toastTextColor: #eee;
$modalWindowColor: #fff;
$modalBackgroundColor: rgba(0, 0, 0, 0.3);
$boardBackgroundColor: #eee;
$moreColor:#3f51b6;
$boxShadow: inset 0 0 30px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );
