$color-1: #fff;
$color-2: #DAE0E6;
$color-3: linear-gradient(90deg, rgba(0,187,227,1) 0%, rgba(184,75,255,1) 100%);
$color-4: linear-gradient(90deg, rgba(2,255,245,1) 0%, rgba(184,75,255,1) 100%);
$toastBackgroundColor: rgb(250, 25, 4);
$toastTextColor: #eee;
$modalWindowColor: #fff;
$modalBackgroundColor: rgba(0, 0, 0, 0.3);
$boardBackgroundColor: #eee;
$moreColor:#3f51b6;
$whiteBorderColor: #fff;
$boxShadow: inset 0 0 30px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );
$toastBoxShadow:  2px 2px 2px
  rgba(
    $color: #000000,
    $alpha: 0.5,
  );
$previewBoxShadow:  2px 2px 5px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );
