@import '../../../../colors.scss';

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-left: auto;
  width: 300px;
  height: 70px;
  padding: 10px;
  background-color: $boardBackgroundColor;
  box-shadow: $boxShadow;
  border-radius: 5px;
  transition: 500ms;
}

.inner-container {
  position: absolute;
  top: 30px;
  width: 300px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-wrap: break-word;
  padding-bottom: 10px;
}
.description{
  padding-bottom: 10px;
}

.visible {
  opacity: 1;
  visibility: visible;
  left: 320px;
}




.board-menu-container {
  position: absolute;
  top: 5px; 
  left: 255px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.empty-box,
.full-box {
  position: absolute;
  top: 100px;
  transition: 500ms;
}

.empty {
  background-color: #ccc;
}
.full-box mat-card-subtitle {
  color: $moreColor;
  cursor: auto;
}

