.register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
  padding: 100px 0 50px;
  box-sizing: border-box;
}

.register-container {
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.form-field {
  width: 100%;
}

.title {
  font-weight: bold;
  margin-bottom: 0;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

::ng-deep .form .mat-form-field-subscript-wrapper {
  position: relative;
  padding-bottom: 0;
}

::ng-deep .form .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .form .mat-form-field-underline {
  position: unset;
}
