.buttons {
  display: flex;
  padding-top: 50px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.form {
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.form-field {
  width: 100%;
}
