<h1>Board</h1>
<h2>ID: {{ id }}</h2>
<section class="column-wrapper">
  <section
    class="columns"
    *ngIf="
      (currentBoard$ | async)!.columns &&
      (currentBoard$ | async)!.columns!.length > 0
    ">
    <article
      class="column"
      *ngFor="let item of (currentBoard$ | async)!.columns">
      {{ item.title }}
      <button class="column-remove" (click)="removeColumn(item.id!)">
        {{ 'BOARD.removeColumn' | translate }}
      </button>
    </article>
  </section>
  <button class="add-column" (click)="addNewColumn()">
    {{ 'BOARD.addNewColumn' | translate }}
  </button>
</section>
<button [routerLink]="['../../main']">BACK to BOARDS</button>
