.columns {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.column {
  width: 320px;
  flex-shrink: 0;
}

.column-title {
  font-size: 16px;
  font-weight: bold;
}

.mat-action-row {
  justify-content: flex-start;
  padding: 10px;
  .mat-button-base {
    margin: 0;
  }
}

.icon-button {
  margin-right: 10px;
}

.mat-toolbar {
  height: auto;
  padding: 8px 16px;
  white-space: wrap;
}

.mat-card {
  white-space: unset;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

::ng-deep .column-inner .mat-expansion-panel-body {
  padding: 0 10px 10px;
}

.column-inner {
  background-color: #EBECF0;
}

.noselect {
  user-select: none;
}

.task-item {
  position: relative;
  .task-title {
    font-size: 16px;
  }
  .task-actions {
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: 0.3s;
  }
  .material-icons {
    font-size: 16px;
    vertical-align: baseline;
  }
  .mat-icon-button {
    width: 24px;
    height: 24px;
  }
  .task-action-button {
    opacity: 0.5;
    transition: 0.3s;
    &:hover{
      opacity: 1;
    }
  }
}

.task-item:hover {
  .task-actions {
    opacity: 1;
  }
}
