/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
@import '~ngx-toastr/toastr';
@import './app/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans&display=swap');

$main-font: 'Montserrat', sans-serif;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.dialog .mat-dialog-container {
  background-color: $modalWindowColor;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba($color: #000000, $alpha: 0.5);
  transform: scale(1);
  transition: 0.5s;
}
