<h1>{{ 'Welcome to' | translate }} {{ title | translate }}!</h1>
<h1>{{ 'Eng.cat' | translate }}</h1>
{{ (user$ | async)?.name }}

<button (click)="logUser()">logUser</button>

<!--This is for testing ConfirmService, NotificationService, modal component and notification toast-->
<p></p>
<button (click)="callModal('SAMPLE_CONFIRM_INFO')">Call modal window</button>
<p>Modal window result: {{ userResult | async }}</p>
<button (click)="emitNotification('Something went wrong!')">Emit error</button>
<!--Then it should be deleted-->
