<nav class="buttons">
  <a routerLink="main" *ngIf="loginStatus$ | async">
    <button mat-stroked-button color="primary">
      {{ 'BOARDS' | translate }}
    </button>
  </a>
  <a
    routerLink="login"
    *ngIf="(loginStatus$ | async) === false"
    routerLinkActive="hidden">
    <button mat-stroked-button color="primary">
      {{ 'auth.Login' | translate }}
    </button>
  </a>
  <a
    routerLink="registration"
    routerLinkActive="hidden"
    *ngIf="(loginStatus$ | async) === false">
    <button mat-stroked-button color="primary">
      {{ 'auth.Registration' | translate }}
    </button>
  </a>
</nav>

<router-outlet></router-outlet>
