<div class="buttons">
  <a routerLink="/login" routerLinkActive="active"
    ><button mat-stroked-button color="primary">
      {{ 'auth.Login' | translate }}
    </button></a
  >
  <a a routerLink="/registration" routerLinkActive="active"
    ><button mat-stroked-button color="primary">
      {{ 'auth.Registration' | translate }}
    </button></a
  >
</div>
<router-outlet></router-outlet>

<!--This is for testing ConfirmService, NotificationService, modal component and notification toast-->
<p></p>
<button (click)="callModal('SAMPLE_CONFIRM_INFO')">Call modal window</button>
<p>Modal window result: {{ userResult | async }}</p>
<button (click)="emitNotification('Something went wrong!')">Emit error</button>
<!--Then it should be deleted-->
